.custom-world-card {
  background-color: var(--dark-gray);
  color: var(--light-white);
  margin: 20px auto;
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
  border-radius: 60px;
}
.custom-world-card img {
  width: 50%;
  height: auto;
  margin: 20px auto;
  border: 5px solid var(--dark-black);
  border-radius: 50%;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}
