.button {
  background-color: var(--secondary);
  transition:
    background-color 0.5s ease-in-out,
    filter 0.5s ease-in-out;
  color: var(--text);

  border: 2px solid var(--text);
  border-radius: 15px;

  padding: 10px 25px;
  letter-spacing: 1px;
}

.button:hover {
  filter: brightness(1.2);
}
