.button {
  background-color: var(--secondary);
  transition:
    background-color 0.3s ease,
    filter 0.3s ease;
  color: var(--text);

  border: 2px solid var(--text);
  border-radius: 15px;

  padding: 10px 25px;
  letter-spacing: 1px;
}

.button:hover {
  filter: brightness(1.2);
}
