.custom-dropdown {
  width: 100%;
  position: relative;
  /* display: inline-block; */
}

.custom-dropdown-btn {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  /*   display: block; */

  background-color: var(--secondary);
  color: var(--text);
  border: none;
  border-radius: 15px;
}

.custom-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  max-height: 200px;
  overflow-y: auto;

  background-color: var(--secondary);
  margin: 5px 0 0;
  padding: 0;
  list-style-type: none;
  border-radius: 15px;
  z-index: 9999;

  opacity: 0;
  transform: translateY(-40px);
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.5s ease;
}

.custom-dropdown-list.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.custom-dropdown-item {
  padding: 10px 20px;
  cursor: pointer;

  background-color: var(--secondary);
  transition:
    background-color 0.3s ease,
    filter 0.3s ease;
  border-radius: 15px;
}

.custom-dropdown-item:hover {
  filter: brightness(1.2);
}

.custom-dropdown-btn:focus {
  outline: none;
}

/* Scrollbar general */
.custom-dropdown-list::-webkit-scrollbar {
  width: 8px; /* ancho de la scrollbar */
  height: 8px;
}

/* El track (la zona de fondo de la barra) */
.custom-dropdown-list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}

/* El thumb (la parte que se arrastra) */
.custom-dropdown-list::-webkit-scrollbar-thumb {
  background-color: var(--text); /* puedes usar otro color si quieres */
  border-radius: 15px;
  border: 2px solid var(--secondary); /* para que parezca que flota */
}
