/* .subject-item {
  position: relative;
  display: inline-block;

  cursor: pointer;
  overflow: hidden;
}

.subject-item-disabled {
  position: relative;
  display: inline-block;

  cursor: pointer;
  overflow: hidden;

  filter: brightness(0.4);
}

.subject-item-img {
  width: 200px;
  height: auto;
  margin: 10px 10px;

  border-radius: 15px;
  opacity: 0.8;

  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.subject-item:hover .subject-item-img {
  opacity: 1;

  transform: scale(1.1);
}

.subject-item-disabled:hover .subject-item-img {
  transform: scale(1.1);
}

.subject-item-img-overlay {
  top: 50%;
  left: 50%;
  width: 80%;
  padding: 10px 20px;
  position: absolute;

  background-color: var(--secondary);
  color: var(--text);
  border: none;
  border-radius: 15px;
  opacity: 0;

  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
}

.subject-item:hover .subject-item-img-overlay {
  opacity: 1;
}

.subject-item-disabled:hover .subject-item-img-overlay {
  opacity: 1;
}

.subject-item-img-overlay p {
  margin: 0;
  text-align: center;

  font-size: 1.2 rem;
}

@media (max-width: 768px) {
  .subject-item-img-overlay {
    opacity: 1;
  }
}
 */

.subject-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
}

.subject-item-disabled {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  filter: brightness(0.4);
}

.subject-item-img {
  width: 200px;
  height: auto;
  margin: 10px 10px;
  border-radius: 15px;
  opacity: 0.8;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.subject-item:hover .subject-item-img,
.subject-item-disabled:hover .subject-item-img {
  opacity: 1;
  transform: scale(1.1);
}

.subject-item-img-overlay {
  top: 50%;
  left: 50%;
  width: 80%;
  padding: 10px 20px;
  position: absolute;

  background-color: var(--secondary);
  color: var(--text);
  border: none;
  border-radius: 15px;

  opacity: 0;
  transform: translate(-50%, -10%);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.subject-item:hover .subject-item-img-overlay,
.subject-item-disabled:hover .subject-item-img-overlay {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.subject-item-img-overlay p {
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .subject-item-img-overlay {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
