.input {
	width: 100%;
	max-width: 300px;
	padding: 15px 15px;

	background-color: color-mix(in srgb, var(--primary) 0%, transparent);
	color: var(--text);
	border: solid 2px;
	border-color: var(--text);
	border-radius: 15px;

	letter-spacing: 1px;

	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease;
}

.input:focus {
	outline: none;
	background-color: color-mix(in srgb, var(--secondary) 20%, transparent);
	box-shadow: 0 0 0 1px var(--text);
}

.input::placeholder {
	color: var(--text);
	opacity: 0.4;
}

/* .input {
  width: 100%;
  padding: 15px 15px;

  background-color: var(--primary);
  color: var(--text);
  border: solid 2px var(--text);
  border-radius: 15px;

  letter-spacing: 1px;

  transition: filter 0.3s ease;
}

.input:focus {
  outline: none;

  filter: brightness(1.2);
}

.input::placeholder {
  color: var(--text);
  opacity: 0.4;
}
 */
