.subject-management-item {
  width: 100%;
  background-color: transparent;
  margin: 10px 0px;
  padding: 10px 10px;
  border: solid 2px var(--text);
  border-radius: 15px;
  cursor: pointer;
}

.subject-management-item-image {
  border-radius: 10%;
  opacity: 1;

  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.subject-management-item-image:hover {
  opacity: 1;

  transform: scale(2);
}

.subject-management-item-button {
  padding: 15px 15px;
  margin: 2px 2px;

  background-color: var(--secondary);
  color: var(--text);
  border: none;
  border-radius: 15px;

  transition:
    background-color 0.3s ease,
    filter 0.3s ease;
}

.subject-management-item-button:hover {
  filter: brightness(1.2);
}

.subject-expand-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.subject-expand-container.expanded {
  max-height: 1000px;
}
