.custom-table {
  border-radius: 15px;
  overflow: hidden;
}

.custom-dropdown {
  background-color: var(--desaturated-blue);
  color: var(--light-white);
  border-radius: 15px;
  margin-top: 5px;
  border: none;
  transition: background-color 0.5s;
  cursor: pointer;
}

.custom-dropdown:hover {
  background-color: var(--alert-purple);
  border: none;
}

.custom-dropdown:focus {
  background-color: var(--alert-purple);
  color: var(--light-white);
  border: none;
  outline: none;
  box-shadow: none;
}

.custom-dropdown option {
  border-radius: 20px;
  background-color: var(--desaturated-blue);
  color: var(--light-white);
}

.custom-dropdown option:hover {
  background-color: var(--alert-purple);
}
