@import './normalize.css';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap';

:root {
	--primary: #00001c;
	--secondary: #1b653d;
	--text: #e5e9f0;

	--main-font-family: 'Poppins', sans-serif;
	--main-font-weight: bold;
}

body {
	margin: 0;
	padding: 0;

	color: var(--text);
	background-color: var(--primary);

	font-family: var(--main-font-family);

	font-size: 1rem;
	letter-spacing: 1px;
}

.custom-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
