@import './normalize.css';

:root {
  --primary: #2a2d3d;
  --secondary: #4f5be5;

  --text: #d2d7e1;
  --dark-black: #1e33d3;
  --dark-dark-black: #080a12;
  --dark-blue: #130b40;

  --light-gray: #5f6370;
  --light-white: #d2d7e1;
  --highlight-white: #b2d9ff;

  --alert-red: #9c3232;
  --alert-purple: #424ece;
  --main-font-family: 'Poppins', sans-serif;
  --main-font-weight: 600;
  font-size: 0.9rem;
}

body {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  color: var(--text);
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

/* * {
  box-sizing: border-box;
} */

/* .text-with-background {
  display: inline-block;
  background-color: var(--secondary); /* Color de fondo 
  color: var(--text); 
  padding: 10px; 
  border-radius: 20px; 
  margin-bottom: 1rem;
} */

.image-container {
  position: relative; /*Esto vete a saber */
  display: inline-block;
  cursor: pointer;
  overflow: hidden; /* Esto vete a saber*/
}

.image-container-disabled {
  position: relative; /*Esto vete a saber */
  display: inline-block;
  cursor: not-allowed;
  overflow: hidden; /* Esto vete a saber*/
  filter: brightness(0.4);
}

.button-img {
  width: 200px;
  height: auto;
  margin: 10px 10px;
  transition: transform 0.3s ease;
}

.image-container:hover .button-img {
  transform: scale(1.1);
}

.image-container-disabled:hover .button-img {
  transform: scale(1.1);
}

.image-overlay {
  position: absolute;
  top: 50%; /*Manera como un poco artesanal de centrar el texto*/
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  color: var(--text);
  padding: 10px;
  border-radius: 20px;
  opacity: 0; /* Para que el texto no sea visible al principio */
  transition: opacity 0.3s ease;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.image-container-disabled:hover .image-overlay {
  opacity: 1;
}
.image-overlay p {
  margin: 0;
  font-size: 1.2 rem;
  text-align: center;
}

@media (max-width: 768px) {
  /* Para pantallas de hasta 768px */
  .image-overlay {
    opacity: 1;
  }
}

.custom-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-overflow {
  overflow: hidden;
}

.custom-toggle-button {
  background-color: var(--text);
  color: var(--text);
  border-radius: 20px;
  border: none;
  padding: 10px 25px;
  transition:
    background-color 0.5s,
    color 0.5s;
  cursor: pointer;
}

/* Estados de toggle */
.custom-toggle-button.active {
  background-color: var(
    --dark-blue
  ); /* Nuevo color de fondo cuando está activo */
  color: var(--dark-white); /* Nuevo color de texto cuando está activo */
}
