.input {
  background-color: var(--primary);
  transition: filter 0.5s ease-in-out;
  color: var(--text);

  border: 2px solid var(--text);

  border-radius: 15px;

  padding: 15px 15px;
  letter-spacing: 1px;

  width: 100%;
  /*  margin: 0 auto; */ /* Centra el input dentro del contenedor */
}

.input:focus {
  outline: none;
  filter: brightness(1.2);
}

.input::placeholder {
  color: var(--text);
  opacity: 0.4;
}
