.input {
  background-color: var(--primary);
  transition: filter 0.3s ease-in-out;
  color: var(--text);

  border: none;
  border-radius: 20px;

  padding: 15px 15px;
}

.input:focus {
  outline: none;
  filter: brightness(1.2);
}

.input::placeholder {
  color: var(--text);
  opacity: 0.4;
}
