.link-image {
  border-radius: 15px;
  opacity: 0.4;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.link-image:hover {
  opacity: 1;
  transform: scale(1.1); /* Eleva la imagen hacia arriba */
}
