.navbar {
  padding: 10px 20px;
  margin: 10px 10px;
  /*TODO: Decidir si dejar el color transparente o con var(--secondary)*/
  background-color: 'transparent';
  border: solid 2px var(--text);
  border-radius: 15px;
  color: var(--text);
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  z-index: 9999;
}

.navbar-brand {
  font-size: 1.5rem;
  color: var(--text);
}

.navbar-brand:hover {
  text-decoration: none;
  color: var(--text);
}
