.navbar {
  margin: 10px 0px;
  padding: 10px 20px;
  background-color: var(--secondary);
  border-radius: 20px;
  color: var(--text);
}

.navbar-brand {
  font-size: 1.5rem;
  color: var(--text);
}

.navbar-brand:hover {
  text-decoration: none;
  color: var(--text);
}
